.chore {
    background-image: radial-gradient(circle, rgb(173, 173, 56), rgb(85, 107, 47));
    /* background-image: linear-gradient(to right, rgb(74, 147, 96), rgb(223, 169, 94)); */
        height: 200px;
    /* background-color: bisque; */
    margin: 5%;
    padding: 6%;
    text-align: center;
    border-radius: 30px;
    }