.nav-list-style-type { 
    list-style: none;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin: 0 !important;

}
.link{
    display: inline-block;
    color:black;
    font-size: large;
    padding:0 1rem;
    
    
}
.link:hover{
    color:white;
    text-decoration: none;
}


