.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }

  form {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  label {
    font-weight: bold;
  }

  input,
  select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid gray;
  }

  button[type="submit"] {
    margin-left: 3rem;
    padding: 0.75rem 1.5rem;
    background-color: darkolivegreen;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }



