.reward {
    background-image: radial-gradient(circle,  rgb(173, 173, 56), rgb(85, 107, 47));
    /* background-color: bisque; */
    margin: 8%;
    padding: 5%;
    text-align: center;
    height: 200px;
    border-radius: 30px;
    }
    